<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Followings</title>

    <link rel="stylesheet" href={% static "lemon/variables.css" %}>
    <link rel="stylesheet" href={% static "lemon/person-main.css" %}>
    <link rel="stylesheet" href={% static "lemon/followers.css" %}>
    <link rel="stylesheet" href={% static "lemon/index.css" %}>
</head>
<body>
    <div class="wrapper">
        <div id="sidebar" class="sidebar">
            <div class="sidebar__inner">{%include 'navigation-bar.html'%}</div>
        </div>
        <div class="page__body">
            <div class="search__panel">
                <!-- <form method="post" action="">
                    {% csrf_token %} -->
                    
                    <div class="search__inner">
                        <div class="search__wrap">
                            <img class="close__img" style="right: calc(85px + 25px + 22px);" src="{% static 'lemon/img/close.png' %}"/>
                            <input name="search" id="search" placeholder="Search" class="search" value="{{ search |safe}}"/>
                        </div>
                        <!-- <button class="btn__submit"> -->
                        <img class="btn__search img" src="{% static 'lemon/img/loupe.png' %}"/>
                        <img class="img" src="{% static 'lemon/img/add.png' %}" onclick="openForm()"/>
                        <!-- </button> -->
                        
                    </div>
                <!-- </form> -->
            </div>

            <div>
                {% for follow in following %}
                <div class="item item{% if forloop.counter0|divisibleby:2 %}1{% else %}0{% endif %}" id="{{ follow.preferredUsername |safe}}">
                    <div class="item__left">
                        <h2 class="item__name">{{ follow.name |safe}}</h2>
                        <p class="item__id">{{ follow.preferredUsername |safe}}</p>
                    </div>
                    <!-- <p>{{ follower.id | safe}}</p> -->
                    <div class="btns">
                        <img class="img message" src="{% static 'lemon/img/message.png' %}">
                        <img class="img visit" id="visit{{follow.id |safe}}" src="{% static 'lemon/img/right.png' %}">
                        <img class="img" src="{% static 'lemon/img/remove.png' %}">
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="form-wrap" id="form-wrap">
        <div class="form-popup container__form" id="form-add">
            <form action="" class="form-container">
                <h1 class="sign__header">Follow</h1>
                
                <p id="error" style="display: none; color: brown; font-size: 0.8rem;">Error: Unable to follow this user. Please, check User ID.</p>
                <div class="field">
                    <div class="input__field">
                        <p class="input__label">User ID</p>
                        <input type="text" class="input__name" id="name"
                        name="username" required
                        style="padding: 5px 0px;">
                    </div>
                </div>

                <p style="text-align: left; font-size: 0.8rem;">Enter User ID.<br>
                    User ID is user uri of personal page. <br>
                    Example: http://alice.local/@Alice</p>

                <div class="btn__container">
                    <button type="button" class="btn__rose" onclick="follow()">Follow</button>
                </div>
                <div class="btn__container">
                    <button type="button" class="btn__close" onclick="closeForm()">Close</button>
                </div>
            </form>
        </div>
    </div>

    <!-- <div class="notification">
        <button class="btn-white-close"></button>
        <p>Alice</p>
        <p>alice@alice.local</p>
        <p class="notification_msg">Hello! How are you doing?</p>
    </div> -->
    <script src="{% static 'js/node_modules/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'js/notification.js' %}"></script>
    <script>
        var user_name = "{{user.username}}";

        if (user_name != "") {
            var userWebSocket = new UserWebSocket(user_name);
            userWebSocket.connect();
        }

        function openForm() {
            document.getElementById("form-wrap").style.display = "block";
        }
        function closeForm() {
            document.getElementById("error").style.display = "none";
            document.getElementById("form-wrap").style.display = "none";
        }

        $(document).ready(function () {
            var data = {{ following |safe}};
           
            // $("#search").on('click', function () {
            //     data.forEach(item => {
            //         $(document.getElementById(item.preferredUsername)).show(); 
            //     });
            // });

            $(".close__img").on('click', function () {
                event.cancelBubble = true;
                if(event.stopPropagation) 
                    event.stopPropagation();
                
                document.getElementById("search").value = "";
                showAll();
            });

            $("#search").on('click', showAll);

            function showAll() {
                var temp = 0;

                data.forEach(item => {
                    var elem = $(document.getElementById(item.preferredUsername));
                    if (temp % 2 == 0) {
                            elem.removeClass("item0");
                            elem.addClass("item1");
                        } else {
                            elem.removeClass("item1");
                            elem.addClass("item0");
                        }    
                    temp++;

                    elem.show();
                });
            }

            $(".btn__search").on('click', function () {
                var search = $('#search').val();
                
                var temp = 0;
                data.forEach(item => {
                    if (!item.name.includes(search) && !item.preferredUsername.includes(search)) {
                        $(document.getElementById(item.preferredUsername)).hide();
                    } else {
                        var elem =  $(document.getElementById(item.preferredUsername));

                        if (temp % 2 == 0) {
                            elem.removeClass("item0");
                            elem.addClass("item1");
                        } else {
                            elem.removeClass("item1");
                            elem.addClass("item0");
                        }
                        temp++;
                    }
                });
            });

            var user_uri = "{{user.uris.id}}";

            $(".message").on('click', function() {
                event.cancelBubble = true;
                if(event.stopPropagation) 
                    event.stopPropagation();

                path = user_uri + "/notes/note-create?to=" + 
                    $(this).parent(".btns").parent(".item").attr("id");

                window.location.href = path;
            });

            $(".visit").on('click', function() {
                console.log("great");
                person_uri = $(this).attr("id");
                if (person_uri.startsWith("visit")) {
                    person_uri = person_uri.substring(5);
                    window.open(person_uri);
                }
                
            });
        });

        function follow(elem) {
            event.cancelBubble = true;
            if(event.stopPropagation) 
                event.stopPropagation();

            person_uri = document.getElementById("name").value;

            $.ajax(
            {
                type:"GET",
                url: "/follow",
                data:{
                        followed_id: person_uri
                },
                success: function( data ) 
                {
                    // console.log("success");
                    closeForm();
                    window.location.reload();
                },
                error: function(data) {
                    document.getElementById("error").style.display = "block";
                }
            })
        }
    </script>
</body>
</html>