<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Followers</title>

    <link rel="stylesheet" href={% static "lemon/variables.css" %}>
    <link rel="stylesheet" href={% static "lemon/person-main.css" %}>
    <link rel="stylesheet" href={% static "lemon/followers.css" %}>
</head>
<body>
    <div class="wrapper">
        <div id="sidebar" class="sidebar">
            <div class="sidebar__inner">{%include 'navigation-bar.html'%}</div>
        </div>
        <div class="page__body">
            <div class="search__panel">
                <!-- <form method="post" action="">
                    {% csrf_token %} -->
                    
                    <div class="search__inner">
                        <div class="search__wrap">
                            <!-- <img class="close__img" src="{% static 'lemon/img/close.png' %}"/> -->
                            <img class="close__img" src="{% static 'lemon/img/close.png' %}"/>
                            <input name="search" id="search" placeholder="Search" class="search" value="{{ search |safe}}"/>
                        </div>
                        <button class="btn__submit">
                            <!-- <img class="btn__search img" src="{% static 'lemon/img/loupe.png' %}"/> -->
                            <img class="btn__search img" src="{% static 'lemon/img/loupe.png' %}"/>
                        </button>
                    </div>
                <!-- </form> -->
            </div>
            <div>
                {% for follower in followers %}
                <div class="item item{% if forloop.counter0|divisibleby:2 %}1{% else %}0{% endif %}" id="{{ follower.preferredUsername |safe}}">
                    <div class="item__left">
                        <h2 class="item__name">{{ follower.name |safe}}</h2>
                        <p class="item__id">{{ follower.preferredUsername |safe}}</p>
                    </div>
                    <div class="btns">
                        <img class="img message" src="{% static 'lemon/img/message.png' %}">
                        <img class="img visit" id="visit{{follower.id |safe}}" src="{% static 'lemon/img/right.png' %}">
                        <img class="img" src="{% static 'lemon/img/remove.png' %}">
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <script src="{% static 'js/node_modules/jquery/dist/jquery.min.js' %}"></script>
    <script>
        $(document).ready(function () {
            var data = {{ followers |safe}};
           
            $(".close__img").on('click', function () {
                event.cancelBubble = true;
                if(event.stopPropagation) 
                    event.stopPropagation();
                
                document.getElementById("search").value = "";
                showAll();
            });

            $("#search").on('click', showAll);

            function showAll() {
                var temp = 0;

                data.forEach(item => {
                    var elem = $(document.getElementById(item.preferredUsername));
                    if (temp % 2 == 0) {
                            elem.removeClass("item0");
                            elem.addClass("item1");
                        } else {
                            elem.removeClass("item1");
                            elem.addClass("item0");
                        }    
                    temp++;

                    elem.show();                });
            }

            $(".btn__search").on('click', function () {
                var search = $('#search').val();

                var temp = 0;
                data.forEach(item => {
                    if (!item.name.includes(search) && !item.preferredUsername.includes(search)) {
                        $(document.getElementById(item.preferredUsername)).hide();
                    } else {
                        var elem =  $(document.getElementById(item.preferredUsername));

                        if (temp % 2 == 0) {
                            elem.removeClass("item0");
                            elem.addClass("item1");
                        } else {
                            elem.removeClass("item1");
                            elem.addClass("item0");
                        }
                        temp++;
                    }  
                });
            });

            var user_uri = "{{user.uris.id}}";

            $(".message").on('click', function() {
                event.cancelBubble = true;
                if(event.stopPropagation) 
                    event.stopPropagation();

                path = user_uri + "/notes/note-create?to=" + 
                    $(this).parent(".btns").parent(".item").attr("id");

                window.location.href = path;
            });

            $(".visit").on('click', function() {
                // console.log("great");
                person_uri = $(this).attr("id");
                if (person_uri.startsWith("visit")) {
                    person_uri = person_uri.substring(5);
                    window.open(person_uri);
                }
                
            });
        });
    </script>
</body>
</html>