<style>
    .navigation__container {
        background-color: var(--lilac-color);
        position: fixed;
        position: sticky;
        position: relative;

        height: calc(100vh - 40px);
        float: left;

        width: 100%;

        margin-right: 25px;
        border-radius: 21px;
        padding: 25px 0 0 25px;
    }

    .navigation__item {
        text-decoration: none;
    }

    .navigation__item > a {
        text-decoration: none;
        font-size: 20px;
        color: black;
    }

    .logo {
        font-size: 24px;
        text-decoration: underline;
    }

    .quit {
        font-size: 22px;
    }

    ul {
        list-style: none;
    }

    .navigation__list {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 70%;
    }

    .visitor {
        height: 25%;
    }
    /* .navigation__container__inner {
        width: 210px;
    } */
</style>
<div class="navigation__container" >
    {% if user != None %}
    <ul class="navigation__list">
        <li class="navigation__item logo"><a href="../about/">LEMON</a></li>
        <li class="navigation__item"><a href="{{user.uris.id}}">My Profile</a></li>
        <li class="navigation__item"><a href="{{user.uris.followers}}">Followers</a></li>
        <li class="navigation__item"><a href="{{user.uris.following}}">Following</a></li>
        <li class="navigation__item"><a href="{{user.uris.outbox}}">Outbox</a></li>
        <li class="navigation__item nav__inbox" id="nav__inbox">
            <a href="{{user.uris.inbox}}">Inbox</a>
        </li>
        <li class="navigation__item"><a href="{{user.uris.outbox}}">Settings</a></li>
        <li class="navigation__item quit"><a href="../logout/">Quit</a></li>
    </ul>
    {% elif user == None %}
    <ul class="navigation__list visitor">
        <li class="navigation__item logo"><a href="../about/">LEMON</a></li>
        <li class="navigation__item"><a href="/">Sign In</a></li>
        <li class="navigation__item"><a href="../sign-up/">Sign Up</a></li>
    </ul>
    {% endif %}
</div>