<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Note</title>

    <link rel="stylesheet" href={% static "lemon/variables.css" %}>
    <link rel="stylesheet" href={% static "lemon/person-main.css" %}>
    <link rel="stylesheet" href={% static "lemon/note_create.css" %}>
</head>
<body>
    <div class="wrapper">
        <div id="sidebar" class="sidebar">
            <div class="sidebar__inner">{%include 'navigation-bar.html'%}</div>
        </div>
        <div class="main page__body">
            <form method="post" action="note-create-validator/" id="form">
                {% csrf_token %}
                <!-- <h2>Make a Note</h2>
                <p>If you want to send note to all your followers
                    <br>don't write anything in username</p>
                <p>To: </p><input name="username">
                <p>Text: </p><textarea name="content"></textarea>
                <input type="submit" value="Create" /> -->
        
                <div class="note__container">
                    <div class="person__username">{{ user.username |safe}}</div>
                    <div class="reciever__username">
                        <div class="reciever__input__wrap">
                            <p>To:</p>
                            <input name="reciever__input" class="reciever__input" id="reciever__input"/>
                            <div class="btn__rose btn__add" onclick="addReciever()">Add</div>
                            <!-- <img src="{% static 'lemon/img/add.png' %}" class="add__img"/> -->
                        </div>
                        <div class="recievers" id="recievers">
                            <div class="reciever" >
                                <input name="reciever" class="reciever__output" readonly/>
                                <img src="{% static 'lemon/img/remove.png' %}" class="remove__img"
                                onclick="deleteReciever(this)"/>
                            </div>
                           
                            {% if to != "undefined" %}
                            <div class="reciever" style="display: flex; visibility: visible;">
                                <input name="reciever" class="reciever__output" value="{{to |safe}}" readonly/>
                                <img src="{% static 'lemon/img/remove.png' %}" class="remove__img"
                                onclick="deleteReciever(this)"/>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="note__content__wrap">
                        <!-- <div class="note__content"> -->
                            <textarea name="content" class="note__textarea"></textarea>
                        <!-- </div> -->
                    </div>

                    <div class="btn__container">
                        <input type="submit" value="Create" class="btn__rose"/>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <script src="{% static 'js/node_modules/jquery/dist/jquery.min.js' %}"></script>

    <script>
        function addReciever () {
            var val = $("#reciever__input").val();

            var $clone = $(".reciever").first().clone();

            $clone.css('display', 'flex');
            $clone.css('visibility', 'visible');
            $clone.find('.reciever__output').first().val(val);

            // alert($(".reciever").last());
            //$("#form").children(".note__container")
            //.children(".reciever__username").children("#recievers").children(".reciever").last().after($clone);
            $(".reciever").last().after($clone);
        }
     
        function deleteReciever(button) {
            var reciever = button.parentNode;
            // alert(reciever)
            var recievers = reciever.parentNode;
            recievers.removeChild(reciever);
        }
    </script>
</body>
</html>