<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Notes</title>
    <link rel="stylesheet" href={% static "lemon/variables.css" %}>
    <link rel="stylesheet" href={% static "lemon/notes_view.css" %}>
    <!-- <link rel="stylesheet" href={% static "css/person-main.css" %}> -->
</head>
<body>
    {% if permission == 0 %}
    <div class="header__container">
        <a class="create__a" href="{{person.uris.notes}}/note-create">
            <img class="create__img" src="{% static 'lemon/img/create.png' %}">
        </a>
        <h2>My Notes</h2>
    </div>
    {% else %}
    <div class="header__container">
        {% if permission == 2 %}
        <div class="btn-friend btn-rose btn-font-small" onclick="follow(this)">Follow</div>
        <button class="btn-message" onclick="message()"></button>
        {% elif permission == 1 %}
        <div class="btn-friend btn-disabled btn-font-small">You're Following</div>
        <button class="btn-message" onclick="message()"></button>
        {% endif %}
        <h2>{{person.username |safe}}</h2>
        <!-- <div class="tooltip">
            <button onclick="copy()" class="tooltip-btn" onmouseout="outCopy()">
                <span class="tooltiptext" id="myTooltip-1">Copy to clipboard</span>
                Copy
            </button>
        </div> -->
    </div>
    {% endif %}

    <div class="notes">
        {% for note in notes %}
        <div class="note__container">

            {% if permission == 0 %}
            <img class="edit__img" src="{% static 'lemon/img/create.png' %}">
            <img class="remove__img" src="{% static 'lemon/img/remove.png' %}">
            <div class="like_container">
                <img class="like_img" src="{% static 'lemon/img/heart.png' %}">{{note.likes_cnt |safe}}
            </div>
            {% else %}
            <div class="like_container like_container_visitor">
                <img class="like_img" src="{% static 'lemon/img/heart.png' %}">{{note.likes_cnt |safe}}
            </div>
            {% endif %}

            <div class="person__username">{{ person.username |safe}}</div>
            <div class="creation__date">{{ note.created_at |safe}}</div>
            {% if permission == 0 %}
            <div class="reciever__username"><p>To:<br>
                {% if note.to|length == 0 or note.to == person.uris.followers %}
                    All Followers
                {% endif %}
                {% for reciever in note.to %}
                    {{ reciever |safe }}<br>
                {% endfor %}
            </p>
            </div>
            {% endif %}
            <div class="note__content__wrap">
                <div class="note__content">
                    {{ note.content |safe }}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <script src="{% static 'js/node_modules/jquery/dist/jquery.min.js' %}"></script>
    <script>
        var user_uri = "{{user.uris.id}}";
        var person_uri = "{{person.username}}";

        function message() {
            event.cancelBubble = true;
            if(event.stopPropagation) 
                event.stopPropagation();

            // console.log(user_uri);
            path = user_uri + "/notes/note-create?to=" + person_uri;
            // alert(path);
            window.location.href = path;
        };

        function follow(elem) {
            event.cancelBubble = true;
            if(event.stopPropagation) 
                event.stopPropagation();

            $.ajax(
            {
                type:"GET",
                url: "/follow",
                data:{
                        followed_username: person_uri
                },
                success: function( data ) 
                {
                    elem.innerText = "You're Following";
                    elem.classList.remove("btn-rose");
                    elem.classList.add("btn-disabled");
                    elem.removeAttribute("onclick");
                }
            })
        }

        // function copy() {
        //     console.log(user_uri);
        //     navigator.clipboard.writeText(user_uri);
            
        //     tooltip.innerHTML = "Copied!";
        // }

        // function outCopy(tooltip) {
        //     // var tooltip = document.getElementsByClassName("");
        //     tooltip.children[0].innerText = "Copy to clipboard";
        //     // tooltip.innerHTML = "Copy to clipboard";
        // }
    </script>
</body>
</html>