<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Notes</title>
    <link rel="stylesheet" href={% static "lemon/variables.css" %}>
    <link rel="stylesheet" href={% static "lemon/notes_view.css" %}>
    <!-- <link rel="stylesheet" href={% static "css/person-main.css" %}> -->
</head>
<body>
    {% if permission == 0 %}
    <div class="header__container">
        <a class="create__a" href="{{person.uris.notes}}/note-create">
            <img class="create__img" src="{% static 'lemon/img/create.png' %}">
        </a>
        <h2>My Notes</h2>
    </div>
    {% elif permission == 1 %}
    <div class="header__container">
        <div class="btn-friend btn-rose btn-font-small">Become a Friends</div>
        <div class="btn-message"></div>
        <h2>{{person.username |safe}}</h2>
    </div>
    {% endif %}

    <div class="notes">
        {% for note in notes %}
        <div class="note__container">

            {% if permission == 0 %}
            <img class="edit__img" src="{% static 'lemon/img/create.png' %}">
            <img class="remove__img" src="{% static 'lemon/img/remove.png' %}">
            <div class="like_container">
                <img class="like_img" src="{% static 'lemon/img/heart.png' %}">{{note.likes_cnt |safe}}
            </div>
            {% else %}
            <div class="like_container like_container_visitor">
                <img class="like_img" src="{% static 'lemon/img/heart.png' %}">{{note.likes_cnt |safe}}
            </div>
            {% endif %}

            <div class="person__username">{{ person.username |safe}}</div>
            <div class="creation__date">creation date</div>
            <div class="reciever__username"><p>To:</p>
                <p>Reciever username</p>
            </div>
            <div class="note__content__wrap">
                <div class="note__content">
                    {{ note.content |safe }}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</body>
</html>