<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Outbox</title>

    <link rel="stylesheet" href={% static "lemon/variables.css" %}>
    <link rel="stylesheet" href={% static "lemon/person-main.css" %}>
    <link rel="stylesheet" href={% static "lemon/outbox.css" %}>
</head>
<body>
    <div class="wrapper">
        <div id="sidebar" class="sidebar">
            <div class="sidebar__inner">{%include 'navigation-bar.html'%}</div>
        </div>
        <div class="page__body">
            <div class="filter__panel">
                <div class="filter__item">
                    <input type="checkbox" id="Create" onchange="filter(this)" checked="checked">
                    <label for="create">Create</label>
                </div>
                <div class="filter__item">
                    <input type="checkbox" id="Follow" onchange="filter(this)" checked="checked">
                    <label for="follow">Follow</label>
                </div>
                <div class="filter__item">
                    <input type="checkbox" id="Like" onchange="filter(this)" checked="checked">
                    <label for="like">Like</label>
                </div>     
                <div class="filter__item">
                    <input type="checkbox" id="Undo" onchange="filter(this)" checked="checked">
                    <label for="undo">Undo</label>
                </div>   
            </div>
            <div>
                {% for item in collection %}
                <div class="item item{% if forloop.counter0|divisibleby:2 %}1{% else %}0{% endif %}" id="{{ item.id |safe}}">
                    <div class="item__left">
                        <h2 class="item__type">{{ item.type |safe }}</h2>
                        <p class="item__to">{{ item.to |safe}}</p>
                    </div>
                    <div class="item__content__wrap">
                        <p class="item__content">{{ item.object.content |safe}}
                        </p>
                    </div>
                    <img class="remove__img" src="{% static 'lemon/img/remove.png' %}">
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <script src="{% static 'js/node_modules/jquery/dist/jquery.min.js' %}"></script>
    <script>
        var data = {{collection |safe}};

        function filter(btn) {
            var i, temp = 0;
            if (btn.checked) {
                for (i = 0; i < data.length; i++) {
                    var item =  $(document.getElementById(data[i].id));
                    if (data[i].type == btn.id) {
                       item.show();
                    }

                    if (item.is(":visible")) {
                        if (temp % 2 == 0) {
                            item.removeClass("item0");
                            item.addClass("item1");
                        } else {
                            item.removeClass("item1");
                            item.addClass("item0");
                        }
                        temp++;
                    }
                }

            } else {
                for (i = 0; i < data.length; i++) {
                    if (data[i].type == btn.id) {
                        $(document.getElementById(data[i].id)).hide();
                    } else {
                        var item = $(document.getElementById(data[i].id));
                        if (item.is(":visible")) {
                            if (temp % 2 == 0) {
                                item.removeClass("item0");
                                item.addClass("item1");
                            } else {
                                item.removeClass("item1");
                                item.addClass("item0");
                            }
                            temp++;
                        }
                    }
                }
            }
        }

        $(".item").on('click', function () {
            // alert($(this).attr('id'));
            window.location.href = $(this).attr('id');
        });
        
    </script>
</body>
</html>