.wrapper {
    position: relative;
    padding: 20px;
}

.page__body {
    position: relative;
    width: calc(100vw - 2 * 20px - 210px - 25px);
    float: right;
    overflow: auto;
}

.sidebar {
    position: -webkit-sticky;
    position: sticky;
    top: 20px;
    
    height: calc(100vh - 2 * 20px);
    /* width: 235px; */
    width: 210px;
}

.wrapper {
    display: flex;
    justify-content: space-between;
}
  