@import url('https://fonts.googleapis.com/css2?family=Judson:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 16px;
    font-family: var(--main_font);
}

/*----------------------- VARIABLES -----------------------*/

:root{
    --main_font: 'Judson', sans-serif;
    --yellow-color: #F0EEDA;
    --rose-color: #DAA2C4;
    --lilac-color: #F7F2FF;
    --lilac-dark-color: #E5DCF3;
    --yellow-dark-color: #EAE7C7;
    /* --rose-color: #EEB8CF;
    --shadow-color: rgba(85, 3, 3, 0.2);
    --orange-color: rgba(255, 199, 143, 0.6); */
}